.login-button{
  color: rgb(0, 0, 0);
  border: 2px groove rgb(0, 0, 0);
  height: 36px;
  margin-left: 12px;
  padding: 3px;
  border-radius: 7px;
  margin-top: 2px;
}
.navbar {
    background-image: linear-gradient(to right, rgb(236, 228, 112), rgb(243, 148, 235));
    width: 100%;
    height: 95px;
    box-shadow: teal;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .book-menu {
    display: flex;
    flex-direction: row;
    padding: 2%;
  }
  a{
    text-decoration: none;
  }
  .bookstore {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 140%;
    margin-left: 10px;
    font-size: 170%;
  }
  .book-icon {
    width: 50px;
    height: 50px;
    margin-left: 11px;
  }
  .cart-icon {
    width: 35px;
    height: 38px;
    margin-right: 10px;
  }
  .wishlist-icon {
    width: 35px;
    height: 38px;
    margin-left: 10px;
  }
  .login-icon {
    width: 35px;
    height: 38px;
    margin-left: 12px;
  }
  .link {
    color: rgb(29, 140, 204);
  }
  .search {
    width: 780px;
    height: 40px;
    margin-left: 130px;
    margin-top: 2px;
    background-color: white;
    box-shadow: gray;
    border-radius: 5px 0px 0px 5px;
  }
  .search-btn {
     height: 40px;
     margin-top: 2px;
     width: 40px;
     border-radius: 0px 5px 5px 0px;
     margin-right: 130px;
  }
  .search-icon {
     width: 40px;
     height: 40px;
     border-radius: 0px 5px 5px 0px;
     background-color: white;
  }
